<!-- formulaire d'affichage du détail -->
<ng-template pTemplate="header">
    <span class="p-mr-auto"> <b>DETAILS DOCUMENT</b></span>
  </ng-template>
  <!-- <p-divider></p-divider> -->
  <hr>
  <div class="row">

    <div class="col-md-12 details-item">
      <span class="va-m"><span class="font-bold">Libelle: </span> {{document.libelle}}</span>
    </div>
    <div class="col-md-12 details-item">
        <span class="va-m"><span class="font-bold">Description: </span> {{document.description}}</span>
    </div>
    <div class="col-md-12 details-item">
        <span class="va-m"><span class="font-bold">Status: </span> {{document.status}}</span>
    </div>  
    <div class="col-md-12 details-item">
        <span class="va-m"><span class="font-bold">Chemin: </span> {{document.chemin}}</span>
    </div>
    <div class="col-md-12 details-item">
        <span class="va-m"><span class="font-bold">Type: </span> {{document.type}}</span>
    </div>
    <div class="col-md-12 details-item">
        <span class="va-m"><span class="font-bold">Format: </span> {{document.format}}</span>
    </div>


  </div>
  <!-- <p-divider></p-divider> -->
  <div class="p-ml-auto text-right">
    <button description="reset" icon="pi pi-times" label="Fermer" (click)="clear()" class="p-button-filter mr-2"
      pButton></button>
  </div>
